<launch>
    <group ns="MAV1">
        <param name="UAV_ID" value="1"/>
	    <param name="obs_safe_D" value="5"/>
	    <param name="obs_gamma" value="0.8"/>
        <param name="MAV_safe_D" value="5"/>
        <param name="MAV_gamma" value="0.8"/>
        <param name="delay_step" value="0"/>
	    <rosparam param="laplacian">
                        [1,0,0,0,0,
                         1,1,0,0,0,
                         1,1,1,0,0,
                         1,1,0,1,0,
                         1,1,0,0,1]</rosparam>

        <param name="pub_pose_topic" value="/MAV1/mavros/global_position/ENU/pose"/>
        <param name="gps_global_topic" value="/MAV1/mavros/global_position/global"/>
        <param name="imu_topic" value="/MAV1//mavros/imu/data"/>
        
        <include file="$(find mavros)/launch/px4.launch">
        </include>
        <node name="gps_pub" pkg="flight_control" type="gps_pub"></node>
        <node name="formation" pkg="flight_control" type="formation"></node>
        <node name="velocity_cbf_generator" pkg="flight_control" type="velocity_cbf_generator" output="screen">
            <rosparam subst_value="true">
                use_input: "velocity"  #velocity,position
           </rosparam>
       </node>
    </group>
</launch>
