<launch>
    <arg name="fcu_url" default="/dev/ttyUSB0:230400"/>
    <arg name="gcs_url" default="udp://@192.168.68.105"/>
    <arg name="SYS_ID" default="6"/>

    <group ns="MAV$(arg SYS_ID)">
        <include file="$(find mavros)/launch/apm.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value="$(arg gcs_url)"/>
            <arg name="tgt_system" value="$(arg SYS_ID)"/>
        </include> 
        <node name="gps_init_py" pkg="flight_control" type="gps_init.py" output="screen"></node>
    </group>
</launch>
